@charset "UTF-8";

:root {
    --cor-cinza: #363636;
    --cor-azul: #14679D;
    --cor-fundo: #f4f4f4;
}

/*GERAIS*/

.bg-body-primary {
    background-color: var(--cor-azul);
    box-shadow: 1px 1px 1px #363636be;
}

.barra-vermelha {
    width: 100%;
    height: 50px;
    background-color: var(--cor-azul);
}

.bg-body-secondary {
    background-color: var(--cor-cinza) !important;
    height: 70px; 
    z-index: 10;
}

.rodape-azul {
    background-color: var(--cor-azul);
    height: 45px;
}

.rodape-cinza {
    background-color: var(--cor-cinza) !important;
    height: 50px;
}

.rodape-texto {
 color: white;
 text-align: center !important;
 padding-top: 10px;
 font-weight: 400;
}

.hover:hover {
    text-decoration: underline;
    color: #14679D;
}


.caixa-custom {
    background-color: var(--cor-cinza);
    height: 120px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #363636be;
    color: white;
}

.icone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 60px;
}

.i-redes {
    font-size: 20px;
    color: var(--cor-cinza);
}

.i-redes:hover {
    color: white;
}

.text-custom {
    font-size: medium;
    color: white !important;
}

.botao-usuario {
    background-color: var(--cor-azul);
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border-color: var(--cor-azul);
}

.navbar-toggler{
    background-color:var(--cor-vermelha);
}

.navbar-collapse {  
    margin-top: 80px;
    background-color: var(--cor-cinza);
    border-radius: 5px solid var(--cor-cinza);
}

.itens-md {
    margin-left: 20px;

}

.dropdown-menu {
    background-color:var(--cor-vermelha);
    height: 260px;
}

.btn btn-danger {
padding-inline: 5px;

}


.btn-primary {
    background-color: var(--cor-vermelha);
    border-color: #363636;
}

.text-info {
    color: #363636 !important;
    font-size: 15px;
    padding-bottom: 20px;
}

.text-destaque {
    color: #363636;
    font-size: 12px !important;
    font-weight: bold;
}

.bi.bi-house {
    color: var(--cor-azul);
}

.breadcrumb-item.active {
    color: var(--cor-azul) !important;
}

.h3 {
    font-size: 24px;
    position: relative;
    left: 3%;
    top: -42%;
}

.card-title {
    font-size: 16px;
    text-align: center !important;
}

.icone-secretaria {
    font-size: 3rem;

}


.card {
    width: 360px;
}

.card:hover {
    box-shadow: 1px 1px 1px #363636ad;
}

/*CARD SAUDE*/
.card-saude {
    background-color: #009640;
    color: #ffffff;
    text-align: center;
}

/*CARD EDUCACAO*/

.card-educacao {
   background-color: #0075BF;
    color: #ffffff;
    text-align: center;
}


/*CARD ESPORTES*/
.card-esporte {
    background-color: #D8383E;
    color: #ffffff;
    text-align: center;
}

/*CARD CULTURA*/
.card-cultura {
    background-color: #A7528E;
    color: #ffffff;
    text-align: center;
}

/*CARD MEIO AMBIENTE*/
.card-meioambiente {
    background-color:  #AFCA0B;
    color: #ffffff;
    text-align: center;
}


/*CARD ASSISTENTE SOCIAL*/
.card-social {
   background-color: #9185BE;
   color: #ffffff;
    text-align: center;
}

/*CARD SERVIÇOS URBANOS*/
.card-urbanos {
    background-color: #EF7D00;
    color: #ffffff;
    text-align: center;
}

/*CARD HABITAÇÃO*/
.card-habitacao {
    background-color: #B41735;
    color: #ffffff;
    text-align: center;
}


/*CARD FINANÇAS*/
.card-financas {
    background-color: #662483;
    color: #ffffff;
    text-align: center;
}


/*CARD GOVERNO*/
.card-governo {
    background-color: #7D6B7D;
    color: #ffffff;
    text-align: center;
}


/*CARD GABINETE*/
.card-gabinete {
    background-color: #4B4359;
    color: #ffffff;
    text-align: center;
}


/*CARD PLANEJAMENTO*/
.card-planejamento {
    background-color: #743862;
    color: #ffffff;
    text-align: center;
}

/*CARD SEGURANÇA PÚBLICA*/
.card-seguranca {
    background-color: #003770;
    color: #ffffff;
    text-align: center;
}

/*CARD ADMINISTRAÇÃO*/
.card-administracao {
    background-color: #009FE3;
    color: #ffffff;
    text-align: center;
}

/*CARD PROCURADORIA GERAL*/
.card-procuradoria {
    background-color: #4C594E;
    color: #ffffff;
    text-align: center;
}

/*CARD OBRAS PÚBLICAS*/
.card-obras {
    background-color: #164194;
    color: #ffffff;
    text-align: center;
}

/*CARD TRANSITO*/
.card-transito {
    background-color: #E84E0F;
    color: #ffffff;
    text-align: center;
}

/*CARD TRANSPORTE*/
.card-transporte {
    background-color: #F59C00;
    color: #ffffff;
    text-align: center;
    text: #F59C00;
}

/*CARD ASSUNTOS INSTITUCIONAIS*/
.card-assuntos {
    background-color: #7D7760;
    color: #ffffff;
    text-align: center;
}





@media (max-width: 620px) {
    .breadcrumb {
        font-size: 14px;
    }
}



/*Telefone*/
@media (max-width: 500px) {
    .dropdown-menu {
        width: 310px;
        margin-left: 20px;
    }

    .h1 {
        font-size: 20px;
        text-align: end;
    }

    .caixa-custom {
        box-shadow: 0px 2px 2px #363636ad
    }

    .botao-usuario {
        width: 200px;
        margin-left: 130px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .linha {
        background-color: white;
        width: auto;
        height: 2px;
        font-size: 2px;
        color: white;
    }

 }

/*Tablet)*/
@media (min-width: 501px) and (max-width: 900px)  {
    .dropdown-menu {
        width: 435px;
    }
 }

 /*Desktop)*/
@media (min-width: 1201px) and (max-width: 1800px)  {
    .dropdown-menu {
        width: 440px;
    }

    .botao-usuario {
        background-color: var(--cor-vermelha);
        width: 140px;
        height: 30px;
        border-radius: 20px;
        font-size: 10px;
    }
   
    
   .text-custom {
        font-size: 10px;
        color: white !important;
}
    






 }
