@charset "UTF-8";


:root {
    --cor-cinza: #363636;
    --cor-laranja: #EF7D00;
    --cor-fundo: #f4f4f4;
}


.barra-cinza {
    width: auto;
    height: 70px;
    background-color: var(--cor-cinza);
    
}
.barra-laranja {
    width: auto;
    height: 50px;
    background-color: var(--cor-laranja);
}

.icone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 60px;
}

.btn-primary {
    background: #EF7D00;
    border: 1px solid #EF7D00;
}

.btn-primary:hover {
    background-color: #EF7D00;
    border: 1px solid #363636;
}
.table-orange {
    background-color: #EF7D00;

}

.breadcrumb {
    font-size: 16px;
}

@media (max-width: 620px) {
    .breadcrumb {
        font-size: 9px;
    }
}
