@charset "UTF-8";

:root {
    --cor-cinza: #363636;
    --cor-vermelha: hsl(358, 67%, 53%);
    --cor-fundo: #f4f4f4;
}

/*GERAIS*/

.bg-body-primary {
    background-color: var(--cor-vermelha);
    box-shadow: 1px 1px 1px #363636be;
}
.barra-vermelha {
    width: 100%;
    height: 50px;
    background-color: var(--cor-vermelha);
}
.bg-body-secondary {
    background-color: var(--cor-cinza) !important;
    height: 70px; 
    z-index: 10;
    
}


.hover:hover {
    text-decoration: underline;
    color: #d7373c;
}
.caixa-custom {
    background-color: var(--cor-cinza);
    height: 120px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #363636be;
    color: white;
}

.icone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 60px;
}

.i-redes {
    font-size: 20px;
    color: var(--cor-cinza);
}

.i-redes:hover {
    color: white;
}

.text-custom {
    font-size: medium;
    color: white !important;
}

.botao-usuario {
    background-color: var(--cor-vermelha);
    width: 200px;
    height: 35px;
    border-radius: 20px;
}

.navbar-toggler{
    background-color:var(--cor-vermelha);
}

.navbar-collapse {  
    margin-top: 80px;
    background-color: var(--cor-cinza);
    border-radius: 5px solid var(--cor-cinza);
}

.itens-md {
    margin-left: 20px;

}

.dropdown-menu {
    background-color:var(--cor-vermelha);
    height: 240px;
}

.btn btn-danger {
padding-inline: 5px;

}

.btn-primary {
    background-color: var(--cor-vermelha);
    border-color: #363636;
}

.text-uso {
    text-align: justify;
}

.btn-primary:hover {
    background-color: var(--cor-cinza);
    border-color: #363636;
}
.card-text {
    color: #363636;
    font-size: 16px !important;
}

.text-info {
    color: #363636 !important;
    font-size: 15px;
    padding-bottom: 20px;
}

.text-destaque {
    color: #363636;
    font-size: 12px !important;
    font-weight: bold;
}

.bi.bi-house {
    color: var(--cor-vermelha);
}

.breadcrumb-item.active {
    color:hsl(358, 67%, 53%) !important;
}

.h3 {
    font-size: 24px;
    position: relative;
    left: 3%;
    top: -42%;
}

.card-title {
    font-size: 16px;
}


/*CARD SAUDE*/
.card-saude {
    color:  #009640;
}

.icone-saude {
    position: relative;
    top: 30%;
}

.btn-saude {
    color: #009640;
    position: relative;
    left: 38%;
    width: 150px;
    height: 40px;
}

.text-saude {
    color: #009640 !important;
}
 
/*CARD EDUCACAO*/

.card-educacao {
    color:   #0075BF;
}

.icone-educacao {
    position: relative;
    top: 30%;
}

.btn-educacao {
    color: #0075BF;
    position: relative;
    left: 25%;
    width: 150px;
    height: 40px;
}

.text-educacao {
    color: #0075BF !important;
}

/*CARD ESPORTES*/
.card-esporte {
    color: #D8383E;
}

.icone-esporte {
    position: relative;
    top: 30%;
}

.btn-esporte {
    color: #D8383E;
    position: relative;
    left: 10%;
    width: 150px;
    height: 40px;
}

.text-esporte {
    color: #D8383E !important;
}


/*CARD CULTURA*/
.card-cultura {
    color: #A7528E;
}

.icone-cultura {
    position: relative;
    top: 30%;
}

.btn-cultura {
    color: #A7528E;
    position: relative;
    left: 32%;
    width: 150px;
    height: 40px;
}

.text-cultura {
    color: #A7528E!important;
}

/*CARD MEIO AMBIENTE*/
.card-meioambiente {
    color: #AFCA0B;
}

.icone-meioambiente {
    position: relative;
    top: 30%;
}

.btn-meioambiente {
    color: #AFCA0B;
    position: relative;
    left: 12%;
    width: 150px;
    height: 40px;
}

.text-meioambiente {
    color: #AFCA0B!important;
}

/*CARD ASSISTENTE SOCIAL*/
.card-social {
    color: #9185BE;
}

.icone-docial {
    position: relative;
    top: 30%;
}

.btn-social {
    color: #9185BE;
    position: relative;
    left: 5%;
    width: 150px;
    height: 40px;
}

.text-social {
    color: #9185BE!important;
}

/*CARD SERVIÇOS URBANOS*/
.card-urbanos {
    color: #EF7D00;
}

.icone-urbanos{
    position: relative;
    top: 10%;
}

.btn-urbanos {
    color: #EF7D00;
    position: relative;
    left: 65%;
    width: 150px;
    height: 40px;
}

.text-urbanos {
    color: #B41735 !important;
}


/*CARD HABITAÇÃO*/
.card-habitacao {
    color: #B41735;
}

.icone-habitacao {
    position: relative;
    top: 10%;
}

.btn-habitacao {
    color: #B41735;
    position: relative;
    left: 65%;
    width: 150px;
    height: 40px;
}

.text-habitacao {
    color: #B41735!important;
}

/*CARD FINANÇAS*/
.card-financas {
    color: #662483;
}

.icone-financas {
    position: relative;
    top: 10%;
}

.btn-financas {
    color: #662483;
    position: relative;
    left: 65%;
    width: 150px;
    height: 40px;
}

.text-financas {
    color: #662483!important;
}



@media (max-width: 620px) {
    .breadcrumb {
        font-size: 14px;
    }
}



/*Telefone*/
@media (max-width: 500px) {
    .dropdown-menu {
        width: 310px;
        margin-left: 20px;
    }

    .h1 {
        font-size: 20px;
        text-align: end;
    }

    .caixa-custom {
        box-shadow: 0px 2px 2px #363636ad
    }

    .botao-usuario {
        width: 200px;
        margin-left: 130px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .linha {
        background-color: white;
        width: auto;
        height: 2px;
        font-size: 2px;
        color: white;
    }

 }

/*Tablet)*/
@media (min-width: 501px) and (max-width: 900px)  {
    .dropdown-menu {
        width: 435px;
    }
 }

 /*Desktop)*/
@media (min-width: 1201px) and (max-width: 1800px)  {
    .dropdown-menu {
        width: 440px;
    }
 }
