@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-cinza: #363636;
    --cor-azul: #2980B9;
    --cor-fundo: #f4f4f4;
}


.barra-cinza {
    width: 1200;
    height: 70px;
    background-color: var(--cor-cinza);
    
}
.barra-azul {
    width: 1200;
    height: 50px;
    background-color: var(--cor-azul);
}

.icone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 60px;
}


.botaoconsultar {
    background: #363636;
    border: 1px solid #3636367e;
    color: #ffffff !important;
}

.botaoconsultar:hover {
    background-color: #363636;
    border: 1px solid #3636367e;
    box-shadow: 1px 1px 2px #00000041;
}

.botaolimpar {
    background: #36363673;
    border: 1px solid #36363673;
    color: #ffffff !important;
}

.botaolimpar:hover {
    background-color: #36363673;
    border: 1px solid #3636367e;
    box-shadow: 1px 1px 2px #00000041;
}

.botaosalvar {
    background: #198754;
    border: 1px solid #36363673;
    color: #ffffff !important;
}

.botaosalvar:hover {
    background-color: #198754;
    border: 1px solid #3636367e;
    box-shadow: 1px 1px 2px #00000041;
}


.botaocadastrar {
    background: #2980B9;
    border: 1px solid #36363673;
    color: #ffffff !important;
}

.botaocadastrar:hover {
    background-color: #2980B9;
    border: 1px solid #3636367e;
    box-shadow: 1px 1px 2px #00000041;
}


.breadcrumb {
    font-size: 16px;
}

.bi.bi-house {
    color: #2980B9;
}

.btn.btn-light {
    background-color: none;
    border-color: #363636 !important;
    color: #363636;
}

.btn.btn-light:hover {
    background-color: #2980B9;
    border-color: #363636 !important;
    color: white;
}


.img-grid {
    position: relative;
    left: 30%;
}


.bg-blue {
    background-color: #2980B9;
    border: #363636;
    color: #ffffff;
}

h5 {
    font-weight: 100;
    font-size: 25px;
}
.campos-obrigatorios {
    font-style: italic;
    color: rgb(226, 47, 47);
    font-size: 14px;
}

.nav-link {
    font-weight: 400;
    color: #ffffff;
    background-color: #297fb9b6;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #297fb9b6;
}

.form-control:focus {
    color: #212529;
    background-color: #ffffff;
    border-color: #297fb9b6;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #297fb93d;
}


@media (max-width: 620px) {
    .breadcrumb {
        font-size: 9px;
    }
    .card-text {
        font-size: 14px;
    }
    .campoobrigatorio 
    {
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .input-group-text {
        width: 40%;
    }

    .botaoconsultar {
        margin-right: 5px;
    }
    .botaolimpar {
        margin-right: 5px;
    }
    .botaosalvar {
        margin-right: 5px;
    }
    .botaocadastrar {
        margin-right: 5px;
    }
}
