@charset "UTF-8";

:root {
    --cor-cinza: #363636;
    --cor-vermelha: #d7373c;
    --cor-fundo: #f4f4f4;
}
html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #ffffff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
        margin-top: 20px;
        width: 70%;
        height: 70%;
        background: #000;
      }
  
      swiper-slide {
        font-size: 18px;
        color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 40px 60px;
      }
  
      .parallax-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
      }
  
      swiper-slide .title {
        font-size: 41px;
        font-weight: 300;
      }
  
      swiper-slide .subtitle {
        font-size: 21px;
      }
  
      swiper-slide .text {
        font-size: 14px;
        max-width: 400px;
        line-height: 1.3;
      }




/*GERAIS*/

.bg-body-primary {
    background-color: var(--cor-vermelha);
    box-shadow: 1px 1px 1px #363636be;
}
.barra-vermelha {
    width: 100%;
    height: 50px;
    background-color: var(--cor-vermelha);
}
.bg-body-secondary {
    background-color: var(--cor-cinza) !important;
    height: 70px; 
    z-index: 10;
    
}

.fundo-vermelho {
    background-color: #C54158;
}



.bg-body-cinza {
    background-color: #363636;
    box-shadow: 1px 1px 1px #363636be;

}

.caixa-custom {
    background-color: var(--cor-cinza);
    height: 120px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #363636be;
    color: white;
}

.card {
    background-color: white;
    }
    
.carousel {
    width: 500px !important;
}


.icone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 60px;
}

.i-redes {
    font-size: 20px;
    color: var(--cor-cinza);
}

.i-redes:hover {
    color: white;
}

.text-custom {
    font-size:small;
    color: white !important;
}

.botao-usuario {
    background-color: var(--cor-vermelha);
    border-radius: 20px;
}

.navbar-toggler{
    background-color:var(--cor-vermelha);
}

.navbar-collapse {  
    margin-top: 80px;
    background-color: var(--cor-cinza);
    border-radius: 5px solid var(--cor-cinza);
}

.itens-md {
    margin-left: 20px;


}

.dropdown-menu {
    background-color:var(--cor-vermelha);
    height: 240px;
}


.btn-primary {
    background-color: var(--cor-vermelha);
    border-color: #363636;
}
.card-text {
    color: #363636;
    font-size: 16px !important;
}

.text-info {
    color: #363636 !important;
    font-size: 15px;
    padding-bottom: 20px;
}

.text-destaque {
    color: #363636;
    font-size: 12px !important;
    font-weight: bold;
}

.h2 {
    font-size: 24px;
    padding: 10px;
    color: white;
}

.card:hover {

    box-shadow: 2px 2px 2px #36363693;
}

.linha {
    background-color: #363636;
    color: #ffffff;
    height: 3px;
    width: 300px;
    border-radius: 5px;

}


.btn-galeria {
    background-color: #ffffff;
    color: #d7373c;
    font-weight: 00;
    position: relative;
    top: -20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
   

}

.btn-galeria:hover {
    background-color: #d7373c;
    color: #ffffff;
    font-size: medium;
    position: relative;
    top: -20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}



/*BOTÃO VER MAIS*/
.btn-vermais {
    background-color: #d7373c;
    color: white;
    font-size: medium;
    border-radius: 10px;
}
 
.btn-vermais:hover {
    background-color: #363636;
    color: white;
    font-size: medium;
    border-radius: 10px;
}
 

/*BOTÃO SEHAB*/

.btn-sehab {
    background-color: #B41735;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

.btn-sehab:hover {
    background-color: #B41735;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}


/*BOTÃO SEURB*/
.btn-seurb {
    background-color: #EF7D00;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

.btn-seurb:hover {
    background-color: #EF7D00;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

/*BOTÃO SEMA*/
.btn-sema {
    background-color: #AFCA0B;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

.btn-sema:hover {
    background-color: #AFCA0B;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

/*BOTÃO SEDUC*/
.btn-seduc {
    background-color: #0075BF;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

.btn-seduc:hover {
    background-color: #0075BF;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

/*BOTÃO SEEL*/
.btn-seel {
    background-color: #D8383E;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}

.btn-seel:hover {
    background-color: #D8383E;
    color: white;
    position: relative;
    top: -25px;
    right: 5px;
    border-color: white;
    border-radius: 20px;
}


.icone-secretaria {
    font-size: 2rem;

}
.h3 {
    font-size: 24px;
    position: relative;
    left: 3%;
    top: -42%;
}

.card-body {
    height: 60px;
}

.card {
    width: 220px;
}
.text-secretaria {
    font-size: 14px;
    justify-items: center;
}

.card:hover {
    box-shadow: 1px 1px 1px #363636ad;
}

/*CARD SAUDE*/
.card-saude {
    background-color: #009640;
    color: #ffffff;
    text-align: center;
}

/*CARD EDUCACAO*/

.card-educacao {
   background-color: #0075BF;
    color: #ffffff;
    text-align: center;
}


/*CARD ESPORTES*/
.card-esporte {
    background-color: #D8383E;
    color: #ffffff;
    text-align: center;
}

/*CARD CULTURA*/
.card-cultura {
    background-color: #A7528E;
    color: #ffffff;
    text-align: center;
}

/*CARD MEIO AMBIENTE*/
.card-meioambiente {
    background-color:  #AFCA0B;
    color: #ffffff;
    text-align: center;
}


/*CARD ASSISTENTE SOCIAL*/
.card-social {
   background-color: #9185BE;
   color: #ffffff;
    text-align: center;
}

/*CARD SERVIÇOS URBANOS*/
.card-urbanos {
    background-color: #EF7D00;
    color: #ffffff;
    text-align: center;
}

/*CARD HABITAÇÃO*/
.card-habitacao {
    background-color: #B41735;
    color: #ffffff;
    text-align: center;
}


/*CARD FINANÇAS*/
.card-financas {
    background-color: #662483;
    color: #ffffff;
    text-align: center;
}


/*CARD GOVERNO*/
.card-governo {
    background-color: #7D6B7D;
    color: #ffffff;
    text-align: center;
}


/*CARD GABINETE*/
.card-gabinete {
    background-color: #4B4359;
    color: #ffffff;
    text-align: center;
}


/*CARD PLANEJAMENTO*/
.card-planejamento {
    background-color: #743862;
    color: #ffffff;
    text-align: center;
}

/*CARD SEGURANÇA PÚBLICA*/
.card-seguranca {
    background-color: #003770;
    color: #ffffff;
    text-align: center;
}

/*CARD ADMINISTRAÇÃO*/
.card-administracao {
    background-color: #009FE3;
    color: #ffffff;
    text-align: center;
}

/*CARD PROCURADORIA GERAL*/
.card-procuradoria {
    background-color: #4C594E;
    color: #ffffff;
    text-align: center;
}

/*CARD OBRAS PÚBLICAS*/
.card-obras {
    background-color: #164194;
    color: #ffffff;
    text-align: center;
}

/*CARD TRANSITO*/
.card-transito {
    background-color: #E84E0F;
    color: #ffffff;
    text-align: center;
}

/*CARD TRANSPORTE*/
.card-transporte {
    background-color: #F59C00;
    color: #ffffff;
    text-align: center;
}

/*CARD ASSUNTOS INSTITUCIONAIS*/
.card-assuntos {
    background-color: #7D7760;
    color: #ffffff;
    text-align: center;
}
























/*Telefone*/
@media (max-width: 500px) {
    .dropdown-menu {
        width: 310px;
        margin-left: 20px;
    }

    .h1 {
        font-size: 20px;
        text-align: end;
    }

    .caixa-custom {
        box-shadow: 0px 2px 2px #363636ad
    }

    .botao-usuario {
        width: 200px;
        margin: 5px;
        position: relative;
        left: 70px;
    }
 }

/*Tablet)*/
@media (min-width: 501px) and (max-width: 900px)  {
    .dropdown-menu {
        width: 435px;
    }
 }

 /*Desktop)*/
@media (min-width: 1201px) and (max-width: 1800px)  {
    .dropdown-menu {
        width: 440px;
    }
 }

 